Федеральный субъект,Район/Город,Населенный пункт,Стоимость доставки
Краснодарский край,Азовский район,г. Азов,150
Краснодарский край,Азовский район,с. Астраханка,150
Краснодарский край,,г. Краснодар,150
Ростовская область,Азовский район,г. Азов,200
Ростовская область,,г. Ростов-на-Дону,200
Ставропольский край,,г. Ставрополь,250
Воронежская область,,г. Воронеж,300
Липецкая область,,г. Липецк,350
Белгородская область,,г. Белгород,400
Московская область,,г. Москва и Московская область,1500
